
<div th:fragment="navbar">

    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color" style="background-color: #394d60!important">
        <a class="navbar-brand" th:href="@{/}" th:text="#{name}"></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">


            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" >
                        <a th:href="@{/}" style="margin:0px 20px; color:white;" >Home</a>

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" >
                        <a th:href="@{/category}" style="margin:0px 20px; color:white;" th:text="#{category}"></a>

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" style="margin: 0 10px">
                        <a th:href="@{/?lang=en}"><img th:src="@{/flag/en-flag.png}" alt="" > </a>

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <a th:href="@{/?lang=kh}"> <img th:src="@{/flag/kh-flag.png}" alt=""></a>

                    </a>
                </li>

            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
</div>
