







<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="layout/page-layout">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>


        input{
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #9e9e9e;
            border-radius: 0;
            outline: none;
            height: 3rem;
            width: 100%;
            font-size: 16px;
            margin: 0 0 8px 0;
            padding: 0;
        }

        form {
            margin: auto;
        }
        .container{
            padding: 20px 100px;
            margin: auto;
        }
        button{
            background-color: aquamarine;
            padding:5px 10px;
        }
        #add, #cancel{
            width: 80px;
            padding: 5px 10px;
            background-color: #60819f;
            border: none;
            height: 2rem;
        }

    </style>
</head>
<body>


<div layout:fragment="body">
    <div class="container">
        <form action="/addCategory" method="post" >
            <fieldset>
                <h2 th:text="#{add-category}"></h2>
                <div class="row">

                    <div class="col-10">
                        <lable for="title" th:text="#{id}"></lable>
                        <input type="text" readonly th:field="${category.id}">
                    </div>

                </div>

                <div class="row">

                    <div class="col-10">
                        <lable for="title" th:text="#{tit}"></lable><span style="color: red;"  th:errors="${category.title}"></span>
                        <input type="text"  th:field="${category.title}">
                    </div>

                </div>

                <input type="submit" th:value="#{btn.add}" id="add">
                <a href="/category"><input id="cancel" type="button" th:value="#{btn.cancel}"></a>



            </fieldset>
        </form>

    </div>

</div>
</body>
</html>