<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="layout/page-layout">
<head>
    <meta charset="UTF-8">
    <style>
        .container{
            padding: 10px 100px;
            width: 1000px;
        }

        #delete, #update, #add{
            background-color: #60819f;
            border:none;
            padding:5px 10px;
            width: 70px;
        }


    </style>


</head>
<body>


<div layout:fragment="body">
    <div class="container">
        <a class="nav-link" href="/addCategory">
            <input type="submit" id="add" th:value="#{btn.add}">
        </a>

        <table class="table" style="padding:20px 100px">

            <thead>
            <tr>
                <th scope="col" th:text="#{id}">ID</th>
                <th scope="col" th:text="#{tit}">Title</th>
                <th scope="col" th:text="#{action}"> Action</th>
            </tr>
            </thead>
            <tbody >
            <tr  th:each="category, iterStat: ${categories}">

                <td th:text="${category.id}"></td>
                <td th:text="${category.title}"></td>

                <td>
                    <a th:href="@{category/update/{id}( id=${category.id})}" ><input id="update" type="submit" th:value="#{btn.update}"></a>
                    <a th:href="@{category/delete/{id}( id=${category.id})}"><input id="delete"  type="submit" th:value="#{btn.delete}"></a>

                </td>
            </tr>
            <tr>
                <td colspan="5" th:text='#{total} + ${categories.size()}'> </td>
            </tr>


            </tbody>


        </table>
    </div>

</div>
</body>
</html>