







<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="layout/page-layout">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>


        input, select {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #9e9e9e;
            border-radius: 0;
            outline: none;
            height: 3rem;
            width: 100%;
            font-size: 16px;
            margin: 0 0 8px 0;
            padding: 0;
        }

        form {
            margin: auto;
        }
        .container{
            padding: 20px 100px;
            margin: auto;
        }
        button{
            background-color: aquamarine;
            padding:5px 10px;
        }
        #add, #cancel {
            width: 100px;
            padding: 7px 18px;
            background-color: #60819f;
            border: none;
            margin: 10px;

            /*height: 2rem;*/

        }
        #blah{
            width: 700px;
            height: 400px;
        }


    </style>
</head>
<body>


<div layout:fragment="body">
    <div class="container">
        <form action="/add" method="post" enctype="multipart/form-data" th:object="${article}" >
            <fieldset>
                <h2 th:text="#{addNew}"></h2>
                <div class="row">
                    <!--<div class="col-2" th:text="#{id}"></div>-->
                    <div class="col-10">
                        <label for="id" th:text="#{id}"></label>
                        <input type="text" id="id" readonly th:field="${article.id}">

                    </div>

                </div>

                <div class="row">

                    <div class="col-10">
                        <label for="title" th:text="#{tit}"> </label> <span style="color: red" th:errors="${article.title}"></span>
                        <input type="text" id="title" th:field="${article.title}">
                    </div>

                </div>
                <div class="row">

                    <div class="col-10">
                        <label for="author" th:text="#{author}" ></label><span style="color: red;"  th:errors="${article.author}"></span>
                        <input type="text" id="author" th:field="${article.author}">
                    </div>

                </div>
                <div class="row">

                    <div class="col-10">
                        <label for="desc"th:text="#{desc}"></label><span style="color: red;"  th:errors="${article.desc}"></span>
                        <input type="text" id="desc" th:field="${article.desc}">
                    </div>

                </div>

                <div class="row">
                    <!--<div class="col-2" >Category</div>-->


                    <div class="col-10">
                        <label for="category" th:text="#{category}"></label>
                        <select id="category" th:field="${article.category.id}">
                            <option th:each=" category : ${categories}"
                                    th:value="${category.id}" th:text="${category.title}"></option>

                        </select>

                    </div>

                </div>
                <div class="row">
                    <!--<div class="col-2" th:text="#{img}"></div>-->
                    <div class="col-10">
                        <label for="imgInp" th:text="#{img}"></label>
                        <input type="file"  name="file" id="imgInp" style="border:none; ">
                        <img id="blah"  src="#" alt="" />



                    </div>

                </div>

                <input type="submit" th:value="#{btn.add}" id="add">
                <a href="/"><input id="cancel" type="button" th:value="#{btn.cancel}"></a>



            </fieldset>
        </form>
        <script>
            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        $('#blah').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function() {
                readURL(this);
            });
        </script>
    </div>

</div>
</body>
</html>