<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="layout/page-layout">
<head>
    <meta charset="UTF-8">
    <style>

        .content {
            padding: 10px 100px;
        }

        #add, #btnSearch, #view, #update,#delete  {
            background-color: #60819f;
            color: white;
        }

        #img {
            width: 120px;
            height: 70px;
        }

        #delete, #view, #update, #add, #btnSearch {
            border: none;
            padding: 5px 10px;
            width: 80px;
        }

        #search, select{
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #9e9e9e;
            border-radius: 0;
            outline: none;
            height: 3rem;
            width: 60%;
            font-size: 16px;
            margin: 0 0 8px 0;
            padding: 0;
            margin: 0 10px 0 0;
        }
        form{
            margin: 20px 0;
        }


    </style>

</head>
<body>


<div layout:fragment="body">
    <div class="content">
        <a class="nav-link" href="/add">
            <input type="submit" id="add" th:value="#{btn.add}">
        </a>

        <form action="/article/search" method="post">
            <div class="row">
                <div class="col-6">
                    Search:
                    <input type="text" id="search" name="searcher">


                </div>
                <div class="col-6">
                    <select name="cate_id"  id="">
                        <option value=0 th:text="Category"></option>
                        <option  th:each="category:${categories}"   th:value="${category.id}" th:text="${category.title}"></option>
                    </select>
                    <input type="submit" id="btnSearch" value="Search">
                </div>
            </div>
        </form>


        <table class="table" style="padding:20px 100px">

            <thead>
            <tr>
                <th scope="col" th:text="#{id}">ID</th>
                <th scope="col" th:text="#{tit}">Title</th>
                <th scope="col" th:text="#{author}">Author</th>
                <th th:text="#{desc}"></th>

                <th scope="col" th:text="#{category}"></th>
                <th scope="col" th:text="#{img}" ​​>Image</th>
                <th scope="col" th:text="#{action}"> Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article, iterStat: ${articles_page}">
                <td th:text="${article.id}"></td>
                <td th:text="${article.title}"></td>
                <td th:text="${article.author}"></td>
                <td th:text="${article.desc}"></td>
                <td th:text="${article.category.title}"></td>

                <td>
                    <img id="img" th:src="'/img/' + ${article.image}" alt=" img">
                </td>
                <td>
                    <a th:href="@{article/update/{id}( id=${article.id})}"><input id="update" type="submit"
                                                                                  th:value="#{btn.update}"></a>
                    <a th:href="@{article/delete/{id}( id=${article.id})}"><input id="delete" type="submit"
                                                                                  th:value="#{btn.delete}"></a>
                    <a th:href="@{article/view/{id}( id=${article.id})}"><input id="view" type="submit"
                                                                                th:value="#{btn.view}"></a>
                </td>
            </tr>
            <tr>
                <td colspan="12" th:text='#{total} + ${total_articles}'></td>
            </tr>


            </tbody>


        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <!--current page-->

                <li class="page-item "><a class="page-link" th:href="@{/(limit=10, page=1)}">First</a></li>
                <li class="page-item ">


                    <a class="page-link" aria-label="Previous" th:if="${current_page}>1"
                       th:href="@{/(limit=10,page=${current_page}-1)}">
                        <a th:unless="${current_page}>1"></a>
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                <th:block th:each="page : ${#numbers.sequence(1, total_page)}">
                    <li class="page-item">
                        <a href="" th:href="@{/(limit=10, page=${page})}" class="page-link" th:text="${page}"></a>
                    </li>
                </th:block>

                <li class="page-item">
                    <a class="page-link" aria-label="Next" th:if="${current_page}<${total_page}"
                       th:href="@{/(limit=10,page=${current_page}+1)}">
                        <a th:unless="${current_page}<${total_page}"></a>
                        <span aria-hidden="true"> &raquo;</span>
                        <span class="sr-only">Next</span>

                    </a>
                </li>
                <li class="page-item"><a class="page-link" th:href="@{/(limit=10, page=${total_page})}">Last</a></li>

            </ul>
        </nav>
    </div>


</div>
</body>
</html>